<div class="col-xs-12 col-md-{{ widget.size }}"
  data-behaivor="widget"
  data-type="{{ widget.widget_type.name }}"
  data-id="{{ widget.id }}"
  data-position="{{ widget.position }}">
  <div class="widget">

    <div class="loader" data-behaivor="loader" ng-show="widget.loading">
      <i class="fa fa-3x fa-fw fa-circle-o-notch fa-spin"></i>
    </div>

    <div class="content"></div>

    <p ng-show="!widget.hasData" class="no-data text-center">
      Não há informações <br>
      para o período
    </p>
  </div>
</div>