<div class="header-area">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Agregação <small></small>
      </h1>
    </div>
  </div>
</div>

<ul class="breadcrumb">
  <li><a href="#">Atlas</a></li>
  <li><a href="origem">Origem</a></li>
  <li class="active">Nova agregação</li>
</ul>

<div class="row">


  <div class="col-md-12">

     <form ng-submit="save()">
        <div class="well">
          <div class="row">

              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Código</label>
                      <input type="text" class="form-control" ng-model="aggregation.code">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Nome</label>
                      <input type="text" class="form-control" ng-model="aggregation.name">
                    </div>
                  </div>
                </div>



                <div class="form-group">
                  <label class="control-label">Descrição</label>
                  <textarea autofocus="true"class="form-control" rows="2" ng-model="aggregation.description"></textarea>
                </div>

                <div class="form-group">
                  <label class="control-label">Parâmetros</label>
                  <table class="table table-bordered table-striped table-editable">
                    <thead>
                      <tr>
                        <th class="col-md-3">Nome</th>
                        <th class="col-md-2">Tipo</th>
                        <th class="col-md-05 text-center">&fnof;<sub>(x)</sub></th>
                        <th class="col-md-5">Valor</th>
                        <th class="col-md-05"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="(key, param) in aggregation.parameters track by $index" ng-show="!param._destroy">
                        <td>
                          <input class="form-control" type="text" ng-model="param.name">
                        </td>
                        <td>
                          <select ng-model="param.datatype" class="form-control" ng-options="data for data in data_types track by data"></select>
                        </td>
                        <td class="text-center">
                          <div class="z-checkbox">
                            <z-checkbox ng-model="param.evaluated"></z-checkbox>
                          </div>
                        </td>
                        <td>
                          <input class="form-control" type="text" ng-model="param.value">
                        </td>
                        <td class="text-center">
                          <a href="#" ng-click="deleteParam(key)" class="btn-remove"><i class="fa fa-close"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-info " type="button" ng-click="addParam()">Adicionar parâmetro</button>
                </div>

                <div class="form-group">
                  <label class="control-label">Fontes de Dados</label>
                  <table class="table table-bordered table-striped table-editable">
                    <thead>
                      <tr>
                        <th class="col-md-11">Nome</th>
                        <th class="col-md-05"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="(key, source) in aggregation.sources track by $index">
                        <td>
                          <select class="form-control" ng-model="source.id" ng-options="s.id as s.name for s in sourceList"></select>
                        </td>
                        <td class="text-center">
                          <a href="#" ng-click="deleteSource(key)" class="btn-remove"><i class="fa fa-close"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-info " type="button" ng-click="addSource()">Adicionar fonte de dados</button>
                </div>

                <div class="form-group">
                  <label class="control-label">Operações</label>
                    <div class="panel panel-info" ng-repeat="(key, execution) in aggregation.executions track by $index">
                        <div class="panel-heading">
                          <strong>#{{ key }}</strong>
                        </div>

                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <select class="form-control" ng-model="execution.function_id" ng-options="function.id as function.name for function in functionList"></select>
                              </div>

                              <table class="table table-bordered table-striped table-editable">
                                <thead>
                                  <tr>
                                    <th class="col-md-6">Nome</th>
                                    <th class="col-md-6">Valor</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="(key, param) in execution.parameters track by $index" ng-show="!param._destroy">
                                    <td>
                                      <span class="form-control">{{param.name}}</span>
                                    </td>
                                    <td>
                                      <input class="form-control" type="text" ng-model="param.value">
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>

                        <div class="panel-footer">
                          <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-info" ng-disabled="key===0" type="button" ng-click="move(key, 'up')" ><span class="fa fa-arrow-up"></span></a>
                            <a href="#" class="btn btn-info"><span class="fa fa-close"></span></a>
                            <a href="#" class="btn btn-info" ng-disabled="key===(aggregation.executions).length-1" type="button" ng-click="move(key, 'down')" ><span class="fa fa-arrow-down"></span></a>
                          </div>
                        </div>

                    </div>

                  <div class="clearfix"></div>
                  <button class="btn btn-info " type="button" ng-click="addSource()">Adicionar operação</button>
                </div>


                <div class="form-group">
                  <label class="control-label">Expressão de resultado</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <z-checkbox ng-model="hasResult"></z-checkbox>
                    </div>
                    <input type="text" class="form-control" ng-model="aggregation.result" ng-disabled="!hasResult">
                  </div>
                </div>

              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button ng-click="cancelar()"  class="btn btn-link">Voltar</button>
              <button type="button" ng-click="save()" class="btn btn-success">Salvar Agregação</button>
            </div>
          </div>
        </div>
      </form>


      <pre>{{ aggregation | json }}</pre>

      <br>
      <br>
      <br>
      <br>
      <br>


  </div>



</div>