<div class="header-area">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Consulta <small></small>
      </h1>
    </div>
  </div>
</div>

<ul class="breadcrumb">
  <li><a href="#">Atlas</a></li>
  <li><a href="origem">Origem</a></li>
  <li class="active">Nova consulta</li>
</ul>

<div class="row">

  <div class="col-md-12">

     <form ng-submit="save()">
        <div class="well">
          <div class="row">

              <div class="col-md-12">

                <div class="form-group">
                  <label class="control-label">Nome</label>
                  <input type="text" class="form-control" ng-model="statement.name">
                </div>

                <div class="form-group">
                  <label class="control-label">SQL</label>
                  <textarea autofocus="true"class="form-control" rows="4" id="statement" ng-model="statement.statement"></textarea>
                </div>

                <p style="margin-bottom: 20px;">
                  <a href="javascript:;" ng-click="showAdvancedOptions=!showAdvancedOptions;">
                    Avançado <span class="caret" ng-class="showAdvancedOptions ? 'caret-reversed' : ''"></span>
                  </a>
                </p>

              </div>

              <div class="col-md-12" ng-show="showAdvancedOptions">
                <div class="form-group">
                  <label class="control-label">Parâmetros</label>
                  <table class="table table-bordered table-striped table-editable">
                    <thead>
                      <tr>
                        <th class="col-md-3">Nome</th>
                        <th class="col-md-2">Tipo</th>
                        <th class="col-md-05 text-center">&fnof;<sub>(x)</sub></th>
                        <th class="col-md-5">Valor</th>
                        <th class="col-md-05"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="(key, param) in statement.parameters track by $index" ng-show="!param._destroy">
                        <td>
                          <input class="form-control" type="text" ng-model="param.name">
                        </td>
                        <td>
                          <select ng-model="param.datatype" class="form-control" ng-options="data for data in data_types track by data"></select>
                        </td>
                        <td class="text-center">
                          <div class="z-checkbox">
                            <z-checkbox ng-model="param.evaluated"></z-checkbox>
                          </div>
                        </td>
                        <td>
                          <input class="form-control" type="text" ng-model="param.value">
                        </td>
                        <td class="text-center">
                          <a href="#" ng-click="deleteParam(key)" class="btn-remove"><i class="fa fa-close"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-info " type="button" ng-click="addParam()">Adicionar parâmetro</button>
                </div>

                <div class="form-group">
                  <label class="control-label">Limite</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <z-checkbox ng-model="hasLimit"></z-checkbox>
                    </div>
                    <input type="text" class="form-control" ng-model="statement.limit" ng-disabled="hasLimit" integer />
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Expressão de resultado</label>
                  <input type="text" class="form-control" ng-model="statement.result">
                </div>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button ng-click="cancelar()"  class="btn btn-link">Voltar</button>
              <button type="button" ng-click="save()" class="btn btn-success">Salvar query</button>
            </div>
          </div>
        </div>
      </form>

      <br>
      <br>
      <br>
      <br>
      <br>


  </div>



</div>