<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" href="/assets/images/offline.png">
  <title data-behaivor="dashboard-title"></title>
  <link rel="stylesheet" href="/assets/css/bootstrap-flatly.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="/assets/css/application.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

  <!-- Inicio Navbar -->
  <div class="navbar navbar-default">

    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/assets/images/brand.svg" alt=""></a>
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <!-- <li class="active">
          <a href="/index.html">Dashboard</a>
        </li> -->
      </ul>
    </div>
  </div>
  <!-- Fim Navbar -->

  <div class="container">

    <div class="header-area">
      <div class="row">
        <div class="col-sm-6">
          <h1>
            Dashboard
          </h1>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
          <select name="slctdash" id="selectDash" class="form-control">
            <option value="">Selecione o Dashboard</option>
          </select>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-primary" id="reloadDash">
            <span class="fa fa-refresh"></span>
          </button>
        </div>
      </div>
    </div>

    <!-- Inicio Daterangepicker -->
    <div class="row">
      <div class="col-sm-12">

       <!--  <div class="btn-group">
          <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
          <a href="#" class="btn btn-primary">Primary</a>
        </div> -->

        <div class="toolbar">
          <button id="reportrange" class="btn btn-primary btn-block">
            <span class="fa fa-calendar"></span>
            <span class="text" data-behaivor="show-actual-date"></span>
          </button>
        </div>
      </div>
    </div>
    <!-- Fim Daterangepicker -->


    <div class="row">
      <div class="area indicadores-container" data-behaivor="widgets-container"></div>
    </div>

  </div>

  <script src="/assets/plugins/jquery/jquery.min.js"></script>
  <script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/plugins/moment/moment-with-locales.js"></script>
  <script src="/assets/plugins/highstock/highstock.js"></script>
  <script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>
  <script src="/assets/plugins/lodash/lodash.min.js"></script>
  <script src="/assets/scripts/helpers/number_helpers.js"></script>
  <script src="/configuration.js"></script>

  <script>
  moment.locale('pt-br');

  Highcharts.setOptions({
    lang: {
      months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',  'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      shortMonths : ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun',  'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
      thousandsSep : '.',
      decimalPoint : ',',
      weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']
    }
  });

  var API = Configuration.api;

  var Indicadores = {
    periodo : {
      inicio    : (moment().subtract(29,'days').format("YYYY-MM-DD 00:00:00")),
      fim       : (moment().format("YYYY-MM-DD 00:00:00")),
      duracao   : function(grandeza) {
        var grandeza  = grandeza || 'days';
        var fim       = moment(Indicadores.periodo.fim);
        var inicio    = moment(Indicadores.periodo.inicio);
        var diferenca = fim.diff(inicio,grandeza);
        return diferenca + 1;
      },
    },
  }

  var Dashboard = {

    token : '4361a34b6472e4634cd27f8d3f37108e',
    server : 'http://127.0.0.1:9000/api/v1',
    api_server : '',
    id : 0,

    /**
     * Inicializa o Dashboard
     */
    init : function(){
      Dashboard.configureRequest();
      Dashboard.loadDashboards();
      Dashboard.initDaterangepicker();
      $('[data-behaivor=show-actual-date]').html('Últimos 30 dias');

      $(document).on('change', '#selectDash', function(){
        Dashboard.loadDashboard(this.value);
      });

      $(document).on('click', '#reloadDash', function(){
        Dashboard.reloadDashboard();
      });
    },

    /**
     * Adiciona o token de autenticação as Requisições
     */
    configureRequest : function(){
      $.ajaxSetup({
        headers: {
          "Authorization" : "Token token=" + Dashboard.token,
        }
      });
    },

    /**
     * carrega apenas 1 dash
     */
    loadDashboard : function(id){
      $.get(Dashboard.server + '/dashboards/' + id, function(data) {
        Dashboard.id = id;
        Dashboard.api_server = data.dashboard.api_servers[0].url;
        Dashboard.clearWidgets();
        Dashboard.loadWidgets(id);
      });
    },

    clearWidgets : function(){
      $('[data-behaivor=widget]').remove();
    },

    reloadDashboard : function(){
      Dashboard.loadWidgets(Dashboard.id);
    },

    /**
     * Carrega a listagem
     */
    loadDashboards : function(){
      $.ajax({
        url: "http://127.0.0.1:9000/api/v1/dashboards",
        type: 'GET',
        dataType: 'JSON'
      })
      .done(function(data) {
        _.each(data.dashboards, function(el, i){
          $("#selectDash").append('<option value="' + el.id + '">' + el.name + '</option>');
        });
      })
      .fail(function() {
        console.log("error");
      })
    },

    /**
     * Recebe os parêmetros da API e faz um parse para o formato utilizado no POST
     */
    prepareParams : function(arrParams){
      var params = {};

      _.each(arrParams, function(el, i){
          params[el.name] = el.default_value;
      });

      if (params.inicio)
        params.inicio = "'" + Indicadores.periodo.inicio + "'";
      if (params.fim)
        params.fim = "'" + Indicadores.periodo.fim + "'";

      return params;
    },

    /**
     * Busca todos os Widgets do dashboard
     */
    loadWidgets : function(id){
      $.get(Dashboard.api_server + '/dashboards/' + id).done(function(data){
        $('[data-behaivor=dashboard-title]').html(data.dashboard.name);

        _.each(data.dashboard.widgets, function(widget, i){
          var statement = widget.indicator.query.statement;
          var params    = Dashboard.prepareParams(widget.indicator.query.parameters);
          var type      = widget.widget_type.name;
          var options   = {
            color    : widget.color,
            dataId   : widget.id,
            size     : widget.size,
            position : widget.position,
            type     : type,
          }

          // verifica se o widget já foi injetado na tela
          if ( !$('[data-behaivor=widget][data-id=' + widget.id + ']').length ) {
            Dashboard.renderWidget(type, options);
          }else{
            Dashboard.loader('[data-behaivor=widget][data-id=' + widget.id + ']', "show");
          }

          Dashboard.getStatement(statement, params).done(function(data){
            Dashboard.renderContentWidget(widget, data);
          });
        });

      })
      .fail(function(){
        console.error('Erro ao carregar');
      });
    },

    /**
     * Renderiza um widget baseado no tipo
     */
    renderWidget : function(type, options){
      var widgetTpl, component;

      switch(type){
        case 'status':
          widgetTpl = $('#widgetStatusTpl').html();
        break;

        case 'line':
          widgetTpl = $('#widgetLineTpl').html();
        break;

        case 'pie':
          widgetTpl = $('#widgetPieTpl').html();
        break;
      }

      component = _.template(widgetTpl, options);
      $('[data-behaivor=widgets-container]').append(component);
    },

    renderContentWidget : function(widget, data){
      switch(widget.widget_type.name){

        case 'status':
          var widgetContainer = $('[data-behaivor=widget][data-id=' + widget.id + '] .content');
          var widgetTpl       = $("#innerStatusTpl").html();

          var value = NumberHelpers.number_to_human(data.statement.rows[0], {
              labels : { thousand : 'mil', million : 'Mi', billion : 'Bi', trillion : 'Tri' },
              precision: 3,
              significant : true,
              separator : ",",
              delimiter : '.'
          });

          value = value.split(' ');



          var template  = _.template(widgetTpl, {
            color    : widget.color,
            dataType : widget.indicator.name,
            grandeza : value[1],
            unity    : widget.indicator.unity,
            size     : widget.size,
            title    : widget.customized ? widget.name : widget.indicator.name,
            value    : value[0],
          });

          widgetContainer.html(template);
          Dashboard.loader('[data-behaivor=widget][data-id=' + widget.id + ']', "hide");
        break;

        case 'line':
          Dashboard.renderGraph(widget, data);
        break;

        case 'pie':
          var colors     = ['#1abc9c', "#2ecc71", "#e74c3c", "#e67e22", "#f1c40f", "#3498db", "#9b59b6", "#34495e","#95a5a6", "#ecf0f1" ].reverse();
          var dataset    = [];
          var percentual = 0;
          var total      = 0;
          var title      = widget.customized ? widget.name : widget.indicator.name;

          if(data.statement.rows.length > 0){
            var volumeTotal = 0;
            var produtos = (data.statement.rows).sort(function(a,b){
              if (a[1] > b[1])
                return -1;
              if (a[1] < b[1])
                return 1;
              return 0;
            });

            _.each(produtos, function(widget, index){
              volumeTotal+= widget[1];
            });

            for (var i = 0; i < 9; i++) {
              percentual = (produtos[i][1] * 100) / volumeTotal;
              dataset.push([ $.trim(produtos[i][0].toUpperCase()), percentual ]);
              total += percentual;
            };
            dataset.push([ "OUTROS", 100 - total ]);
          }

          Dashboard.renderPie('[data-behaivor=widget][data-id=' + widget.id + '] .content', dataset, colors, '<h3>'+ title + '</h3>');
          Dashboard.loader('[data-behaivor=widget][data-id=' + widget.id + ']', 'hide');
        break;
      }
    },

    getStatement : function(statement, params){
      return $.ajax({
        type: "POST",
        contentType: "application/json",
        url: API.address + '/statements/',
        data: JSON.stringify({
            "statement": {
              "sql"    : statement,
              "params" : params
            }
          })
      })
      .fail(function(err){
        console.log(err.statusText);
      });
    },

    renderGraph : function(el, data){
      var valores = Dashboard.prepareDataset(data.statement.rows);
      var title   = el.customized ? el.name : el.indicator.name;


      $.each(valores.values, function(index, val) {
        valores.values[index][0] = parseInt(val[0]);
      });

      function grafico(valores) {
        chart = $('[data-behaivor="widget"][data-id=' + el.id + '] .content').highcharts('StockChart', {
            colors : [ Configuration.colors[el.color] ],
            title : {
              text : "<h3>" + title + "</h3>",
              useHtml : true,
              style : {
                fontFamily : "Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif",
                fontSize : '19px'
              }
            },

            chart : {
              zoomType : 'x',
              panning: true,
              panKey: 'shift',
              resetZoomButton: {
                theme: {
                  fill: '#2c3e50',
                  stroke: '#2c3e50',
                  style: {
                    color: 'white',
                  },
                  r: 0,
                  states: {
                    hover: {
                      fill: '#1a242f',
                      stroke: '#2c3e50',
                      style: {
                        color: 'white',
                        cursor: "pointer"
                      }
                    }
                  }
                }
              }
            },

            navigation: {
              buttonOptions: {
                width: 120
              }
            },

            navigator :{
              enabled : false
            },

            credits : {
              enabled: false
            },

            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 150,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
            },

            rangeSelector : {
                buttonTheme: {
                  width: 90,
                  r : 0,
                },

                inputEnabled : false,
                selected : 1,
                buttons: [
                {
                  type: 'month',
                  count: 1,
                  text: '1m'
                },
                {
                  type: 'month',
                  count: 3,
                  text: '3m'
                },
                {
                  type: 'month',
                  count: 6,
                  text: '6m'
                },
                {
                  type: 'all',
                  text: 'Tudo'
                }]
            },

            plotOptions: {
              areaspline: {
                fillOpacity: 0.5
              },
              series: {
                states: {
                  hover: {
                    lineWidthPlus: 10
                  }
                },
              }
            },

            xAxis : {
                type: 'datetime',
                minRange: 14 * 24 * 3600000,
                minTickInterval: 24 * 3600 * 1000,
                plotBands: valores.plotBands,
                labels : { maxStaggerLines : 1 }
            },

            series : [{
                type : 'areaspline',
                name : 'Contratos',
                data : valores.values,
                lineWidth: 2,
                marker : {
                  enabled : true,
                  radius : 3
                },
                tooltip: {
                  valueDecimals: 2
                }
            }],
        });
      }

      grafico(valores);
      Dashboard.loader('[data-behaivor="widget"][data-id=' + el.id + ']', 'hide');
    },

    prepareDataset : function(rows){
      var dataSet   = [];
      var dataAtual = moment(Indicadores.periodo.inicio).format("YYYY-MM-DD");
      var dataFinal = moment(Indicadores.periodo.fim).format("YYYY-MM-DD");

      var valores   = {
        values             : [],
        labels             : [],
        plotBands          : []
      };

      /**
       * Procura nas linhas se existe valor para todos os dias,
       * se não existir insere a data e valor zero no array das linhas
       */
      while(dataAtual <= dataFinal){
        var find = _.find(rows, function(el) {
          return (el[0] === dataAtual);
        });

        find === undefined ? dataSet.push([dataAtual,0,0,0,0]) : dataSet.push(find);

        dataAtual = moment(dataAtual).add(1, 'day').format("YYYY-MM-DD");
      }


      $.each(dataSet, function(el, val){
        diaSemana = moment(val[0]).format('dd');
        valores.values.push([moment(val[0]).format('x'), val[1]]);

        if (diaSemana === 'sáb') {
          valores.plotBands.push({
            from: moment(val[0]).format('x'),
            to: moment(val[0]).add(1,'day').format('x'),
            color: 'rgba(192, 192, 192, .2)'
          });
        }

      });

      valores.values = (valores.values).sort(function(a, b) {
        return a[0] - b[0];
      });

      return valores;
    },

    renderPie : function(el, dataset, colors, title){
      var serie    = 'Quantidade';

      $(el).highcharts({
        colors : colors,
        // colors : ["rgb(16, 76, 69)", "rgb(18, 104, 92)", "rgb(20, 132, 115)", "rgb(22, 160, 133)", "rgb(24, 188, 156)", "rgb(26, 216, 179)", "rgb(28, 244, 202)"],
        chart: {
          type: 'pie',
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
        },
        credits: {
          enabled: false
        },
        legend : false,
        plotOptions: {
          pie: {
            borderColor: '#FFF',
            innerSize: '60%',
            dataLabels: {
              enabled: false
            }
          }
        },
        title: {
          text: title,
          useHtml : true,
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        series: [{
          type: 'pie',
          name: serie,
          data: dataset
        }]
      },
      function(chart) {
        var xpos = '50%';
        var ypos = '53%';
        var circleradius = 102;

        chart.renderer.circle(xpos, ypos, circleradius).attr({
            fill: '#fff'
        }).add();
      });

    },

    /**
     * @var container el que contém o loader
     * @showHide "show" ou "hide", default pra "show", força o status do loader
     */
    loader : function(container, showHide){
      var container  = container || '.container';
      var loader     = $(container).find('[data-behaivor=loader]');
      var forceReset = showHide || 'show';
      var opacity    = showHide === 'hide' ? 0 : 1;

      $(loader).finish().animate({ opacity: opacity }, function(){
        opacity == 1 ? $(this).show() : $(this).hide();
      });
    },

    initDaterangepicker : function(){
      var i = document.createElement("input");
          i.setAttribute("type", "date");
      hasInputDate = i.type !== "text";

      format = hasInputDate ? 'YYYY-MM-DD' : 'DD/MM/YYYY';

      $('#reportrange').daterangepicker(
        {
          ranges: {
            'Hoje': [moment(), moment()],
            'Ontem': [moment().subtract(1,'days'), moment().subtract(1,'days')],
            'Últimos 7 Dias': [moment().subtract(6,'days'), moment()],
            'Últimos 30 Dias': [moment().subtract(29,'days'), moment()],
            'Últimos 90 Dias': [moment().subtract(89,'days'), moment()],
            'Este Mês': [moment().startOf('month'), moment().endOf('month')],
            'Último Mês': [moment().subtract(1,'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          format : format,
          showDropdowns : true,
          minDate : moment({year : 2000, month: 0, day: 1}),
          maxDate : moment().add(1, 'month'),
          startDate: moment().subtract(29,'days'),
          endDate: moment(),
          locale: {
            applyLabel: 'Aplicar',
            cancelLabel: 'Limpar',
            fromLabel: 'De',
            toLabel: 'Para',
            customRangeLabel: 'Personalizado',
            daysOfWeek: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex','Sab'],
            monthNames: ['Janeiro', 'Favereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
          }
        },
        function(start, end, range) {
            var text;
            if (range !== undefined && range !== "Personalizado") {
              text = range;
            }else{
              var formato = "D [de] MMMM";
              if (start.format('YYYY') === end.format('YYYY')) {
                if (start.format('MMMM') === end.format('MMMM')) {
                  formato = 'D';
                };
              }else{
                formato = 'D [de] MMMM, YYYY';
              }
              text = start.format(formato) + '  até  ' + end.format('D [de] MMMM, YYYY');
            }

            $('[data-behaivor=show-actual-date]').html(text);

            Indicadores.periodo.inicio = start.format("YYYY-MM-DD 00:00:00");
            Indicadores.periodo.fim    = end.format("YYYY-MM-DD 00:00:00");

            Dashboard.loader('.container', true);
            Dashboard.loadWidgets(Dashboard.id);
        }
      );

      $('.daterangepicker').css('width', $('#reportrange').innerWidth() + 'px');

      if(hasInputDate){
        $('[name=daterangepicker_start]').attr('type','date');
        $('[name=daterangepicker_end]').attr('type','date');
      }
    },
  }
  $(Dashboard.init);
  </script>


  <!-- Templates -->
  <script type="text/template" id="widgetStatusTpl">
    <div class="col-sm-6 col-xs-12 col-md-<%= size %>" data-behaivor="widget" data-type="<%= type %>" data-id="<%= dataId %>" data-position="<%= position %>">
      <div class="widget <%= color %>">

        <div class="loader loader-inverse" data-behaivor="loader">
          <p class="text-center"><span class="fa fa-3x fa-spinner fa-spin"></span></p>
        </div>

        <div class="content"></div>

      </div>
    </div>
  </script>
  <script type="text/template" id="innerStatusTpl">
    <h4 class="title">
      <%= title %>
      <small>
        <span class="pull-right glyphicon glyphicon-question-sign"></span>
      </small>
    </h4>
    <div class="info">
      <% if(unity === 'R$'){ %>
        <span class="unidade"> <%= unity %> </span>
        <span class="valor"><%= value %></span>
        <span class="grandeza"><%= grandeza %></span>
      <% }else if(unity === '%'){ %>
        <span class="valor"><%= value %></span>
        <span class="grandeza"> <%= grandeza %> </span>
        <span class="unidade"> <%= unity %> </span>
      <% }else{ %>
        <span class="unidade"></span>
        <span class="valor"> <%= value %> </span>
        <span class="grandeza"> <%= grandeza %> </span>
      <% } %>
    </div>
  </script>
  <script type="text/template" id="widgetLineTpl">
    <div class="col-sm-<%= size %>" data-behaivor="widget" data-type="<%= type %>" data-id="<%= dataId %>" data-position="<%= position %>">
      <div class="grafico-content">
        <div class="loader" data-behaivor="loader">
          <p class="text-center"><span class="fa fa-3x fa-spinner fa-spin"></span></p>
        </div>
        <div class="content"></div>
      </div>
    </div>
  </script>
  <script type="text/template" id="widgetPieTpl">
    <div class="col-xs-12 col-md-<%= size %>" data-behaivor="widget" data-type="<%= type %>" data-id="<%= dataId %>" data-position="<%= position %>">

      <div class="loader" data-behaivor="loader">
        <p class="text-center"><span class="fa fa-3x fa-spinner fa-spin"></span></p>

      </div>

      <div class="content"></div>
    </div>
  </script>
  <!-- / Templates -->


<!-- NÃO REMOVER! -->
<script>$(function(){var keys = ''; $(document).on('keypress', function(e){keys += (''+e.which); if (keys === '112979910997110') {$("body").css({"background-image": 'url("http://images2.fanpop.com/image/photos/8900000/Grid-pac-man-8970124-1680-1050.jpg")', "background-attachment": 'fixed', "background-size": 'cover'}).append('<audio src="assets/audio/pacman_intro.mp3" autoplay loop></audio>'); $('h1, .h1, h2, .h2, h3, .h3').css('color', '#ecf0f1'); }; }); });</script>
<!-- / NÃO REMOVER! -->
</body>
</html>