<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" href="/assets/images/online.png">
  <title>Atlas Dashboard</title>
  <link rel="stylesheet" href="/assets/css/bootstrap-flatly.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="/assets/css/application.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

  <!-- Inicio Navbar -->
  <div class="navbar navbar-default">

    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/assets/images/brand.png" alt=""></a>
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
    </div>

  </div>
  <!-- Fim Navbar -->

  <div class="container">

    <div class="row col-sm-offset-4 col-sm-4">
      <div class="header-area">
        <div class="row">
          <div class="col-sm-12">
            <h1>
              Entrar
              <small></small>
            </h1>
          </div>
        </div>
      </div>
      <div class="well">
        <form id="formLogin" class="form-horizontal" ng-submit="login(credentials)" ng-if="!isLoggedIn()">
          <div class="form-group">
            <div class="col-md-12">
              <label class="control-label">Nome de usuário</label>
              <input ng-model="credentials.username" class="form-control" type="text" name="name">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <label class="control-label">Senha</label>
              <input ng-model="credentials.password" class="form-control" type="text" name="description">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <div class="checkbox-control">
                <div id="continuarLogado" data-type="checkbox" data-behaivor="disable-limit" class="atlCheckbox atlCheckbox_checked"><input type="checkbox" checked="checked"></div>
                <label for="continuarLogado">Mantenha-me conectado</label>
              </div>
            </div>
          </div>

        <button class="btn btn-success btn-block">Login</button>
      </form>
      </div>
    </div>
  </div>

  <!-- scripts externos -->
  <script src="/assets/plugins/jquery/jquery.min.js"></script>
	<script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/plugins/moment/moment-with-locales.js"></script>
  <script src="/assets/plugins/highstock/highstock.js"></script>
  <script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>
  <script src="/assets/plugins/lodash/lodash.min.js"></script>
  <script src="/assets/scripts/helpers/number_helpers.js"></script>

  <script src="/configuration.js"></script>
  <script src="/assets/scripts/dashboard.js"></script>

</body>
</html>