<div class="container">

  <div class="header-area">
    <div class="row">
      <div class="col-sm-6">
        <h1>
          Dashboard
        </h1>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-3">
        <select class="form-control">
          <option value="">localhost</option>
        </select>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-primary" ng-click="loadWidgets()">
          <span class="fa fa-refresh"></span>
        </button>
      </div>
    </div>
  </div>

  <!-- Inicio Daterangepicker -->
  <div class="row">
    <div class="col-sm-12">

      <div class="toolbar">
        <button id="reportrange" class="btn btn-primary btn-block">
          <span class="fa fa-calendar"></span>
          <span class="text" data-behaivor="show-actual-date">Este Mês</span>
        </button>
      </div>

    </div>
  </div>
  <!-- Fim Daterangepicker -->


  <div class="row">
    <div class="area indicadores-container" data-behaivor="widgets-container">
      <div ng-repeat="widget in dashboard.widgets">
        <z-widget-status ng-if="widget.widget_type.name=='status'"></z-widget-status>
        <z-widget-line   ng-if="widget.widget_type.name=='line'"></z-widget-line>
        <z-widget-pie    ng-if="widget.widget_type.name=='pie'"></z-widget-pie>
      </div>
    </div>
  </div>

</div>
