<div class="container">

  <z-alertbox ng-model="alert"></z-alertbox>

  <div class="row">
    <ul class="area indicators-container" data-behaivor="widgets-container">
      <li ng-repeat="widget in dashboard.widgets" class="col-sm-6 col-xs-12 col-md-{{ widget.size }}">
        <z-widget-status ng-if="widget.widget_type.name=='status'"></z-widget-status>
        <z-widget-line   ng-if="widget.widget_type.name=='line'"></z-widget-line>
        <z-widget-pie    ng-if="widget.widget_type.name=='pie'"></z-widget-pie>
      </li>
    </ul>
  </div>

</div>
