*{
  border-radius: 0px !important;
  /*outline: 1px solid !important;*/
}


/* General Styles */
.caret.caret-reversed{
    border-top: 0px;
    border-bottom: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

pre {
  border: none;
  padding: 0;
  margin: 0 0 20px;
  background-color: transparent;
}

/* SQL Syntax Highlight Customization */

.cm-s-default .cm-keyword {
  color: #f39c12;
  font-weight: bold;
}

.cm-s-default .cm-number {
  color: #18BC9D;
}

.cm-s-default .cm-string {
  color:#3498db;
}

.cm-s-default .cm-comment {
  color: #7f8c8d;
  font-style: italic;
}

.cm-s-default .cm-variable-2 {
  color: #000;
}

.cm-s-default .cm-builtin {
  color: #000;
}

.cm-s-default .cm-atom {
  color: #18BC9D;
}

.CodeMirror {
  border: 2px solid #dce4ec;
  border-radius: 4px;
  padding: 0px 15px 0px 0px;
  /*min-height: 50px;*/
  height: auto;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;;
}

.CodeMirror.CodeMirror-focused{
  border-color: #2c3e50;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror pre, .CodeMirror-linenumber{
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.4;
}
.CodeMirror pre{
  padding-left: 8px;
}

/* Dashboard */
.toolbar button{
  margin-bottom: 21px;
  text-align: left;
}

.toolbar button .text{
  margin-left: 10px;
  display: inline-block;
}

.grafico-cabecalho{
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 5px;
}

.grafico-content{
  position: relative;
  background:#ecf0f1;
}

.grafico-content .content{
  height: 400px;
  margin: 0 auto;
  min-width: 310px;
}

.loader{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: inherit;
  z-index: 10;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.loader.loader-inverse,
.loader.loader-inverse p{
  color: #FFF;
}

.loader.visible{
  display: block;
}

.loader p{
  font-family: "Helvetica";
  font-size: 120%;
  color: #2c3e50;
  margin: 0px;
}

.indicadores-container .info{
  font-size: 36px;
  text-align: right;
}

.widget{
  position: relative;
  padding: 15px;
  margin-bottom: 21px;
  min-height: 122px;
}

.widget .title{
  margin-top: 0px;
}

.widget .title span{
  opacity:0.5;
  color:#FFF;
}

.widget .title span:hover{
  opacity: 1;
  cursor: pointer;
}

.widget .title button{
  background: transparent;
  border: 0px;
  opacity: 1;
  cursor: pointer;
  color: #FFF;
  opacity: 0.5;
}

.widget .title button:hover,
.widget .title button:focus{
  opacity: 1;
}

.widget .valor{
  font-weight: bold;
}

.widget .unidade,
.widget .grandeza{
  opacity: 0.8;
}

.alert.alert-default{
  border: 1px solid;
}

.widget.red{background-color: #e74c3c; border-color: #e74c3c; color: #FFF;}
.widget.blue{background-color: #3498db; border-color: #3498db; color: #FFF; }
.widget.green{background-color: #18bc9c; border-color: #18bc9c; color: #FFF; }
.widget.orange{background-color: #f39c12; border-color: #f39c12; color: #FFF; }



[data-type="pie"]{
  background-color: #FFF;
  position: relative;
}

[data-type="pie"] .loader p{
  padding-top: 30%;
}

.popover{
  max-width: 500px !important;
  width: 500px !important;
}

@media(max-width:500px){
  .popover{
    max-width: 500px !important;
    width: 100% !important;
  }
}


section{
  position: relative;
}

.alert-alternate{
  background-color: #8e44ad;
  border-color: #8e44ad;
  color: #ffffff;
}


/* Table Editable */
.table-editable thead td,
.table-editable{
  cursor: default !important;
}


.table-editable tbody tr td{
  cursor: pointer;
  padding: 0px;
}

.table-editable tbody td .form-control{
  background: none;
  cursor: default;
  border: 2px solid transparent;
}

.table-editable tbody td .form-control:focus,
.table-editable tbody td .form-control:active{
  border-color: #2c3e50;
}

.table-editable{
  border: 2px solid #dce4ec;
  background-color: #FFF;
}

.table-editable td{
  height: 35px;
}

/*.table-editable + input:focus,
.table-editable + input:active,
.table-editable + input
{
  border: 2px solid #2c3e50 !important;
  outline: 0px solid #2c3e50 !important;
}*/



.atlCheckbox{
  background-image: url('../images/checkmarks-sprite.png');
  width: 24px;
  height: 24px;
  display: inline-block;
}

.atlCheckbox.atlCheckbox_hover{
  background-position:  0 -24px;
}

.atlCheckbox.atlCheckbox_checked{
  background-position:  0 -96px;
}

.atlCheckbox.atlCheckbox_disabled,
.atlCheckbox.atlCheckbox_disabled input{
  background-position:  0 -48px;
  cursor: not-allowed;
}

.atlCheckbox.atlCheckbox_checked.atlCheckbox_disabled,
.atlCheckbox.atlCheckbox_checked.atlCheckbox_disabled input{
  background-position:  0 -192px;
  cursor: not-allowed;
}

.atlCheckbox.atlCheckbox_active.atlCheckbox_checked,
.atlCheckbox_checked:hover{
  background-position:  0 -72px;
}

.atlCheckbox.atlCheckbox_active{
  background-position:  0 -168px;
}

.atlCheckbox input{
  display: block;
  margin: 0 !important;
  opacity: 0.01;
  border: 0 none;
  overflow: hidden;
  border: 0 none;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url('../images/checkmarks-sprite.png');
}

.atlCheckbox:hover,
.atlCheckbox input:hover{
  cursor: pointer;
}

.input-group-addon{
  border-width: 2px;
  padding: 0px 15px;
  background-color: #F9F9F9;
}



#query-area.disabled #table-editable-input{
  display: none !important;
}

#query-area.disabled .table-editable td:focus{
  outline: 0 !important;
  cursor: default;
}


.history-list{
  list-style: none;
  margin-left:0px;
  padding: 0px;
}

.history-list li{
  padding: 10px;
  position: relative;
}

.history-list li:hover{
  background-color: #18bc9c;
  cursor: pointer;
}

.history-list span,
.history-list a{
  display: inline-block;
}

.history-list .remove-icon{
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.history-list .remove-icon a{
  color:#ecf0f1;
}
.history-list .remove-icon a:hover{
  color: #FFF;
}

.history-list li:hover .remove-icon{
  display: block;
}

.history-list .statement-text{
  height: 20px;
  overflow: hidden;
}

.wrapper-list{
  max-height: 500px;
  overflow: auto;
}

.list-group{
  border: 1px solid #ecf0f1;
}

.list-group:empty{
  display: none;
}

.list-group .list-group-item-text{
  line-height: 20px; height: 20px; overflow: hidden;
}

.list-group.striped .list-group-item:nth-child(even){
  background-color: #F9F9F9;
}

.list-group.striped .list-group-item:hover{
  background-color: #ecf0f1;
}

.list-group .label{
  margin-right: 5px;
}

.close-history-item{
  opacity: 0.3;
  float: right;
}

.close-history-item:hover{
  opacity: 0.6;
}

#results-area{
  padding-bottom: 20px;
}


.table thead tr{
  background: #FFF;
}

[data-type="big-loader"] .loader{
  min-height: 300px;
}



/* DATERANGEPICKER */
.daterangepicker .calendar{
  width: 40%;
  max-width: none;
}

.daterangepicker .ranges .input-mini{
  width: 100%;
  background: #FFF;

}

.daterangepicker .ranges .range_inputs .daterangepicker_end_input,
.daterangepicker .ranges .range_inputs>div:nth-child(2),
.daterangepicker .ranges .range_inputs>div{
  padding-left: 0px;
  float:none;
}

.daterangepicker .ranges li{
  padding: 10px  15px;
}

.daterangepicker.opensright .ranges{
  margin: 0px;
}


.daterangepicker.opensright .ranges,
.daterangepicker .ranges
{
  width: 18%;
  float: left;
}

.daterangepicker .calendar{
  display: block;
}

.daterangepicker .ranges .input-mini:focus,
.daterangepicker .ranges .input-mini:active{
  border: 2px solid #2c3e50;
  outline: 0px;
}

.daterangepicker .ranges .input-mini {
  border: 2px solid #dce4ec;
  border-radius: 0px;
  color: #2c3e50;
  display: block;
  font-size: 15px;
  height: 43px;
  line-height: 1.42857143;
  /*vertical-align: middle;*/
  /*margin: 0 0 10px 0;*/
  padding: 10px 15px;
  /*width: 74px;*/
}

.daterangepicker .ranges li {
  font-size: 15px;
  background: #95a5a6;
  border: 1px solid #95a5a6;
  color: #FFF;
  margin-bottom: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.daterangepicker .ranges li:hover {
  background: #74898a;
  border: 1px solid #95a5a6;
}

.daterangepicker .ranges li.active{
  background: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background: #3498db;
  opacity: 0.65;
  color: #FFF;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #3498db;
  border-color: #3498db;
  color: #fff;
}

.daterangepicker select.monthselect:active,
.daterangepicker select.monthselect:focus,
.daterangepicker select.yearselect:active,
.daterangepicker select.yearselect:focus{
  border:2px solid #2c3e50;
  outline: 0px;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect,
.daterangepicker .ranges .input-mini{
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border:2px solid #dce4ec;
  padding: 10px 15px;
  font-size: 15px;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker_end_input {
  float: left;
  padding-left: 11px;
  margin-bottom: 10px;
}

.calendar-date .table-condensed thead tr th{
  padding-top: 20px;
}
.calendar-date .table-condensed thead tr:first-child th{
padding: 0px;
}

.applyBtn, .cancelBtn{
  width: 49%;
}

@media(max-width:768px){
  .daterangepicker .calendar{
    display:none !important;
  }
  .daterangepicker .ranges li:last-child{
    display:none;
  }
  .daterangepicker.opensright .ranges,
  .daterangepicker .ranges{
    width: 100%;
  }
  .daterangepicker.dropdown-menu{
    width: calc(100% - 30px);
  }
  .applyBtn, .cancelBtn{
    width: 100%;
    display: block;
  }
}
/*.prev.available,
.next.available{
  background-color: #95a5a6;
  color: #FFF;
  font-size: 15px;
}


.daterangepicker th.prev.available:hover,
.daterangepicker th.next.available:hover{
  background-color: #74898A;
  opacity: 1;
}*/




/* ETAPAS */
.etapas-wrapper{
  overflow: auto;
  width: 100%;
}

.etapa{
  width: 200px;
  border: 1px dashed #555;
  min-height: 500px;
  display: inline-block;
  float:left;
  margin-left: -1px;
  padding: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.etapa:first-child{
  margin-left: 0px;
  border-left: 1px solid;
  border-top: 1px solid;
}

.etapa h4{
  margin: 5 auto;
  text-align: center;
}

.etapa-cars{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.etapa-cars li{
  text-align: right;
  border: 1px solid #3498db;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  background: #3498db;
  color: #FFF;
  padding: 5px;
  cursor: default;
}

.etapa-cars li .icon-wrap{
  position: absolute;
  left: -10px;
  bottom: -10px;
  opacity: 0.2;
  color: #FFF;
}

.etapa-cars li:first-child{
  margin-top: 0px;
}

.city-name{
  font-size: 12px;
}

.car-name{
  font-weight: bold;
  font-size: 20px;
}