/* POR FAVOR, TIRAR ISSO! */
*{
    border-radius: 0 !important;
}

body{
    /*background-color: #F7F7F7;*/
}

/* General Styles */
.caret.caret-reversed
{
    border-top: 0;
    border-right: 4px solid transparent;
    border-bottom: 4px solid;
    border-left: 4px solid transparent;
}

.navbar-brand{
    padding: 9.5px 15px 18.5px;
}

pre
{
    margin: 0 0 20px;
    padding: 0;

    border: none;
    background-color: transparent;
}

.toolbar
{
    margin-bottom: 20px;
}

.indicators-container .info
{
    font-size: 36px;

    text-align: right;
}

.widget
{
    position: relative;

    min-height: 122px;
    margin-bottom: 21px;
    padding: 15px;
}

.widget .title
{
    margin-top: 0;
}

.widget .title span
{
    opacity: .5;
    color: #fff;
}

.widget .title span:hover
{
    cursor: pointer;

    opacity: 1;
}

.widget .title button
{
    cursor: pointer;

    opacity: 1;
    opacity: .5;
    color: #fff;
    border: 0;
    background: transparent;
}

.widget .title button:hover,
.widget .title button:focus
{
    opacity: 1;
}

.widget .valor
{
    font-weight: bold;
}

.widget .unidade,
.widget .grandeza
{
    opacity: .8;
}

.widget.red
{
    color: #fff;
    border-color: #e74c3c;
    background-color: #e74c3c;
}
.widget.blue
{
    color: #fff;
    border-color: #3498db;
    background-color: #3498db;
}
.widget.green
{
    color: #fff;
    border-color: #18bc9c;
    background-color: #18bc9c;
}
.widget.orange
{
    color: #fff;
    border-color: #f39c12;
    background-color: #f39c12;
}
.widget.purple
{
    color: #fff;
    border-color: #8e44ad;
    background-color: #8e44ad;
}

.alert.alert-default
{
    border: 1px solid;
}

.indicators-container > div,
.no-padding-col > [class^='.col-']
{
/*    padding-left: 5px;
    padding-right: 5px;*/
}

.indicators-container [data-type='pie']
{
    position: relative;

    background-color: #fff;
}

.indicators-container [data-type='pie'] .loader
{
    min-height: 400px;
}

.indicators-container [data-type='pie'] .loader p
{
    padding-top: 30%;
}

.indicators-container [data-type='pie'] .no-data
{
    position: absolute;
    top: 210px;

    width: 100%;
    margin: 0;
    margin-left: -15px;
}

section
{
    position: relative;
}

.alert-alternate
{
    color: #fff;
    border-color: #8e44ad;
    background-color: #8e44ad;
}


/* Table Editable */
.table tbody tr td:empty
{
    height: 38px;
}

.table.table-editable{
    margin-bottom: 15px;
}

.table-editable .col-md-05
{
    width: 5%;
}

.no-padding
{
    padding: 0 !important;
}

td .btn-remove
{
    line-height: 42px;

    display: block;

    width: 100%;
    height: 100%;
}

.btn-remove.text-danger:hover{
    opacity: 0.8;
}

.table-striped > tbody > tr:nth-child(even)
{
    background: #fff;
}

.table-editable td button
{
    margin-top: 5px;
}

.table-editable thead td,
.table-editable
{
    cursor: default !important;
}

.table-editable thead tr th
{
    padding: 8px 17px;
}

.table-editable tbody tr td
{
    padding: 0;

    cursor: pointer;
}

.table-editable tbody td .form-control
{
    cursor: default;

    border: 2px solid transparent;
    background: none;
}

.table-editable tbody td .form-control:focus,
.table-editable tbody td .form-control:active
{
    border-color: #2c3e50;
}

.table-editable
{
    border: 2px solid #dce4ec;
    background-color: #fff;
}

.table-editable td
{
    height: 35px;
}

.input-group-addon
{
    padding: 0 15px;

    border-width: 2px;
    background-color: #f9f9f9;
}



#query-area.disabled #table-editable-input
{
    display: none !important;
}

#query-area.disabled .table-editable td:focus
{
    cursor: default;

    outline: 0 !important;
}


.historico
{
    position: relative;
}

.historico .clear-history
{
    position: absolute;
    top: 0;
    right: 15px;

    padding: 2px 10px;

    cursor: pointer;
    -webkit-transition: top .5s;
         -o-transition: top .5s;
            transition: top .5s;

    border: 1px solid #ecf0f1;
}

.historico:hover .clear-history
{
    top: -22px;
}

.history-list
{
    margin-left: 0;
    padding: 0;

    list-style: none;
}

.history-list li
{
    position: relative;

    padding: 10px;
}

.history-list li:hover
{
    cursor: pointer;

    background-color: #18bc9c;
}

.history-list span,
.history-list a
{
    display: inline-block;
}

.history-list .remove-icon
{
    position: absolute;
    top: 5px;
    right: 5px;

    display: none;
}

.history-list .remove-icon a
{
    color: #ecf0f1;
}
.history-list .remove-icon a:hover
{
    color: #fff;
}

.history-list li:hover .remove-icon
{
    display: block;
}

.history-list .statement-text
{
    overflow: hidden;

    height: 20px;
}

.wrapper-list
{
    overflow: auto;

    max-height: 500px;
}

.list-group
{
    border: 1px solid #ecf0f1;
}

.list-group:empty
{
    display: none;
}

.list-group .list-group-item-text
{
    line-height: 20px;

    overflow: hidden;

    height: 20px;
}

.list-group.striped .list-group-item:nth-child(even)
{
    background-color: #f9f9f9;
}

.list-group.striped .list-group-item:hover
{
    background-color: #ecf0f1;
}

.list-group .label
{
    margin-right: 5px;
}

.close-history-item
{
    float: right;

    opacity: .3;
}

.close-history-item:hover
{
    opacity: .6;
}

#results-area
{
    padding-bottom: 20px;
}


.table thead tr
{
    background: #fff;
}

[data-type='big-loader'] .loader
{
    min-height: 300px;
}



/* DATERANGEPICKER */
.daterangepicker .calendar
{
    width: 40%;
    max-width: none;
}

.daterangepicker .ranges .input-mini
{
    width: 100%;

    background: #fff;
}

.daterangepicker .ranges .range_inputs .daterangepicker_end_input,
.daterangepicker .ranges .range_inputs > div:nth-child(2),
.daterangepicker .ranges .range_inputs > div
{
    float: none;

    padding-left: 0;
}

.daterangepicker .ranges li
{
    padding: 10px  15px;
}

.daterangepicker.opensright .ranges
{
    margin: 0;
}


.daterangepicker.opensright .ranges,
.daterangepicker .ranges
{
    float: left;

    width: 18%;
}

.daterangepicker .calendar
{
    display: block;
}

.daterangepicker .ranges .input-mini:focus,
.daterangepicker .ranges .input-mini:active
{
    border: 2px solid #2c3e50;
    outline: 0;
}

.daterangepicker .ranges .input-mini
{
    font-size: 15px;
    line-height: 1.42857143;

    display: block;

    height: 43px;
    /*vertical-align: middle;*/
    /*margin: 0 0 10px 0;*/
    padding: 10px 15px;

    color: #2c3e50;
    border: 2px solid #dce4ec;
    border-radius: 0;
    /*width: 74px;*/
}

.daterangepicker .ranges li
{
    font-size: 15px;

    margin-bottom: 8px;

    cursor: pointer;

    color: #fff;
    border: 1px solid #95a5a6;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #95a5a6;
}
.daterangepicker .ranges li:hover
{
    border: 1px solid #95a5a6;
    background: #74898a;
}

.daterangepicker .ranges li.active
{
    color: #fff;
    border: 1px solid #3498db;
    background: #3498db;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover
{
    opacity: .65;
    color: #fff;
    background: #3498db;
}

.daterangepicker td.active,
.daterangepicker td.active:hover
{
    color: #fff;
    border-color: #3498db;
    background-color: #3498db;
}

.daterangepicker select.monthselect:active,
.daterangepicker select.monthselect:focus,
.daterangepicker select.yearselect:active,
.daterangepicker select.yearselect:focus
{
    border: 2px solid #2c3e50;
    outline: 0;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect,
.daterangepicker .ranges .input-mini
{
    font-size: 15px;

    padding: 10px 15px;

    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    border: 2px solid #dce4ec;
}

.daterangepicker select.monthselect
{
    width: 56%;
    margin-right: 2%;
}

.daterangepicker select.yearselect
{
    width: 40%;
}

.daterangepicker_end_input
{
    float: left;

    margin-bottom: 10px;
    padding-left: 11px;
}

.calendar-date .table-condensed thead tr th
{
    padding-top: 20px;
}
.calendar-date .table-condensed thead tr:first-child th
{
    padding: 0;
}

.applyBtn,
.cancelBtn
{
    width: 49%;
}

@media(max-width:768px)
{
    .daterangepicker .calendar
    {
        display: none !important;
    }
    .daterangepicker .ranges li:last-child
    {
        display: none;
    }
    .daterangepicker.opensright .ranges,
    .daterangepicker .ranges
    {
        width: 100%;
    }
    .daterangepicker.dropdown-menu
    {
        width: calc(100% - 30px) !important;
    }
    .applyBtn,
    .cancelBtn
    {
        display: block;

        width: 100%;
    }
}


/* ETAPAS */
.etapas-wrapper
{
    overflow: auto;

    width: 100%;
}

.etapa
{
    display: inline-block;
    float: left;

    width: 200px;
    min-height: 500px;
    margin-left: -1px;
    padding: 10px;

    border: 1px dashed #555;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.etapa:first-child
{
    margin-left: 0;

    border-top: 1px solid;
    border-left: 1px solid;
}

.etapa h4
{
    margin: 5 auto;

    text-align: center;
}

.etapa-cars
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.etapa-cars li
{
    position: relative;

    overflow: hidden;

    margin-top: 10px;
    padding: 5px;

    cursor: default;
    text-align: right;

    color: #fff;
    border: 1px solid #3498db;
    background: #3498db;
}

.etapa-cars li .icon-wrap
{
    position: absolute;
    bottom: -10px;
    left: -10px;

    opacity: .2;
    color: #fff;
}

.etapa-cars li:first-child
{
    margin-top: 0;
}

.city-name
{
    font-size: 12px;
}

.car-name
{
    font-size: 20px;
    font-weight: bold;
}

.widget
{
    background-color: #fff;
}

.widget.hover
{
    cursor: pointer;
}

.gridStyle
{
    width: 100%;
    height: 300px;

    border: 1px solid rgb(212,212,212);
}

.pacman  h1,
.pacman .h1,
.pacman  h2,
.pacman .h2,
.pacman  h3,
.pacman .h3
{
    color: #ecf0f1;
}


.header-area
{
    margin-bottom: 10px;
}

.header-area select,
.header-area button
{
    margin-top: 15px;
}

button .fa
{
    margin-right: 2px;
}

.table-float-thead td
{
    white-space: nowrap;
}

.btn-reset-zoom
{
    position: absolute;
    z-index: 20;
    top: 90px;
    right: 0;

    display: none;
}

.toolbar .navbar-nav > li > a
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar
{
    min-height: 40px;
}

.navbar .nav{
    margin: 0px;
}

.row.no-pad > [class*='col-']
{
    padding-right: 0;
    padding-left: 0;
}

.row.no-pad > [class*='col-']:first-child
{
    padding-left: 15px;
}

.row.no-pad > [class*='col-']:last-child
{
    padding-right: 15px;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
    color: #bdc3c7;
}


.btn-question
{
    position: absolute;
    z-index: 10;
    top: 0px;
    right: 0px;

    cursor: pointer;

    color: #3498db;
}

.btn-question:hover
{
    color: #217dbb;
}

.btn-scroll-top
{
    position: fixed;
    bottom: 0px;
    right: 15px;
    z-index: 1;
}

@media(max-width: 768px){
  .navbar-responsive-collapse .pull-right
  {
      float: none !important;
  }
}



/*****************************************
 *
 * Code Mirror Customization
 *
 *****************************************/
.cm-s-default .cm-keyword
{
    font-weight: bold;

    color: #f39c12;
}

.cm-s-default .cm-number
{
    color: #18bc9d;
}

.cm-s-default .cm-string
{
    color: #3498db;
}

.cm-s-default .cm-comment
{
    font-style: italic;

    color: #7f8c8d;
}

.cm-s-default .cm-variable-2
{
    color: #000;
}

.cm-s-default .cm-builtin
{
    color: #000;
}

.cm-s-default .cm-atom
{
    color: #18bc9d;
}

.CodeMirror
{
    height: auto;
    padding: 0 15px 0 0;

    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    border: 2px solid #dce4ec;
    border-radius: 4px;;;;
}

.CodeMirror.CodeMirror-focused
{
    border-color: #2c3e50;
}

.CodeMirror-scroll
{
    overflow-x: auto;
    overflow-y: hidden;
}

.CodeMirror pre,
.CodeMirror-linenumber
{
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.4;
}
.CodeMirror pre
{
    padding-left: 16px;
}

.CodeMirror-lines
{
    padding: 10px 0;
}



/**
 *
 * Gráfico e Loader
 *
 */
.graph-content
{
    overflow: hidden;
    position: relative;

    background: #ecf0f1;
}

.graph-content .content
{
    min-width: 310px;
    height: 400px;
    margin: 0 auto;
}

@media(max-width: 640px)
{
    .graph-content .content
    {
        height: 300px;
    }
}

/******************************************
 *
 * Bootstrap POPOVER customization
 *
 *****************************************/
.popover
{
    width: 500px !important;
    max-width: 500px !important;
}

@media(max-width:500px)
{
    .popover
    {
        width: 100% !important;
        max-width: 500px !important;
    }
}


/*******************************************
 *
 * CHECKBOX CUSTOMIZATION
 *
 *******************************************/
.atlCheckbox
{
    display: inline-block;

    width: 24px;
    height: 24px;

    background-image: url('../images/checkmarks-sprite.png');
}

.atlCheckbox.atlCheckbox_hover
{
    background-position: 0 -24px;
}

.atlCheckbox.atlCheckbox_checked
{
    background-position: 0 -96px;
}

.atlCheckbox.atlCheckbox_disabled,
.atlCheckbox.atlCheckbox_disabled input
{
    cursor: not-allowed;

    background-position: 0 -48px;
}

.atlCheckbox.atlCheckbox_checked.atlCheckbox_disabled,
.atlCheckbox.atlCheckbox_checked.atlCheckbox_disabled input
{
    cursor: not-allowed;

    background-position: 0 -192px;
}

.atlCheckbox.atlCheckbox_active.atlCheckbox_checked,
.atlCheckbox_checked:hover,
.atlCheckbox_checked:focus
{
    background-position: 0 -72px;
}

.atlCheckbox.atlCheckbox_active
{
    background-position: 0 -168px;
}

.checkbox-control
{
    margin-bottom: 10px;
}

td .z-checkbox
{
    font-size: 15px;

    display: block;

    width: 100%;
    height: 43px;
    padding: 10px 15px;
    padding-top: 8px;

    cursor: default;
}

.checkbox-control .atlCheckbox,
.checkbox-control label .atlCheckbox
{
    float: left;
}

.checkbox-control label .atlCheckbox
{
    line-height: 24px;

    display: block;

    height: 24px;
    margin-right: 5px;
}

.atlCheckbox input
{
    display: block;
    overflow: hidden;
    overflow: hidden;

    width: 24px;
    height: 24px;
    margin: 0 !important;

    opacity: .01;
    border: 0 none;
    border: 0 none;
    background-image: url('../images/checkmarks-sprite.png');
    background-repeat: no-repeat;
}

.atlCheckbox:hover,
.atlCheckbox input:hover
{
    cursor: pointer;
}


/**
 * LOADER
 */
.loader
{
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;

    -moz-user-select: none;
    -webkit-user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: inherit;

    -ms-flex-pack: center;
    -ms-flex-align: center;
       -moz-box-pack: center;
       -moz-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
            box-pack: center;
            box-align: center;
}

.loader.loader-inverse,
.loader.loader-inverse .spinner-container .path
{
    stroke: #FFF;
}

.loader.visible
{
    display: block;
}

.loader p
{
    color: #2c3e50;
}

.spinner-container {
  animation: rotate 2s linear infinite;
  -webkit-animation: rotate 2s linear infinite;
}

.spinner-container .path {
  stroke-dasharray: 1,150; /* 1%, 101% circumference */
  stroke-dashoffset: 0;
  stroke: #2c3e50;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
  -webkit-animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate{
  100% { transform: rotate(360deg); }
}

@keyframes dash {
    0% {
      stroke-dasharray: 1,150;  /* 1%, 101% circumference */
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 90,150; /* 70%, 101% circumference */
      stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
      stroke-dasharray: 90,150; /* 70%, 101% circumference */
      stroke-dashoffset: -124;  /* -99% circumference */
  }
}

@-webkit-keyframes rotate{
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1,150;  /* 1%, 101% circumference */
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 90,150; /* 70%, 101% circumference */
      stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
      stroke-dasharray: 90,150; /* 70%, 101% circumference */
      stroke-dashoffset: -124;  /* -99% circumference */
  }
}

.app-wrapper {
  width: 100%;
  height: 100%;
  min-width: 900px;
  min-height: 600px;
}

@media screen and (max-width: 600px) {
  body {
      overflow-x: auto;
  }
}



.CodeMirror-hint{
    max-width: none;
 }
.CodeMirror-hint .hint-datatype {
  float: right;
  font-style:italic;
}


.more-options h3{
    margin: 0px;
    padding: 0px;
}

.form-group{
    margin-bottom: 25px;
}

.more-options .form-group{
    margin-top: 15px;
}


.container .nav{
    margin-bottom: 30px;
}

.container .navbar .nav{
    margin-bottom: 0px;
}

.tab-content>.tab-pane{
    position: relative;
    min-height: 400px;
}