<div class="header-area">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Usuário <small></small>
      </h1>
    </div>
  </div>
</div>

<ul class="breadcrumb">
  <li><a href="#">Atlas</a></li>
  <li><a href="user">Usuário</a></li>
  <li class="active">new</li>
</ul>

<form id="formCadastro" class="form-horizontal">
  <div class="row">
    <div class="col-md-12">
      <div class="well">

        <div class="alert alert-warning" ng-show="user.password!==passwordConfirm && passwordConfirm!==''">
          As senhas devem ser iguais
        </div>

        <label class="control-label">Email</label>
        <input ng-model="user.email" class="form-control" type="text" name="email" required>

        <label class="control-label">Nome de usuário</label>
        <input ng-model="user.username" class="form-control" type="text" name="username" required>

        <div class="checkbox-control">
        <br>
          <label class="label-control">
            <z-checkbox ng-model="user.admin"></z-checkbox> Administrador
          </label>
        </div>

        <div class="checkbox-control" ng-show="!!user.id">
        <br>
          <label class="label-control">
            <z-checkbox ng-model="changePass"></z-checkbox> Alterar senha
          </label>
        </div>

        <div class="change-pass" ng-show="!!user.id == false || changePass===true">
          <label class="control-label">Senha</label>
          <input ng-model="user.password" class="form-control" type="password" name="password" required>

          <label class="control-label">Confirmar Senha</label>
          <input ng-model="passwordConfirm" class="form-control" type="password" name="passwordConfirm" required>
        </div>


      </div>
    </div>
  </div>

  <!-- AÇÕES FORMULÁRIO -->
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <a href="user" class="btn btn-link">Voltar</a>
        <button ng-click="salvar()" type="submit" class="btn btn-success">Salvar usuário</button>
      </div>
    </div>
  </div>
  <!-- / AÇÕES FORMULÁRIO -->
</form>