<div class="header-area">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Dashboard
        <small></small>
      </h1>
    </div>
  </div>
</div>

<ul class="breadcrumb">
  <li><a href="#">Atlas</a></li>
  <li><a href="dashboard">Dashboard</a></li>
  <li class="active">Novo</li>
</ul>

<div class="row">
  <div class="col-md-12 col-lg-6">
    <div class="well">

      <form id="formCadastro" class="form-horizontal">
        <label  class="control-label">Name</label>
        <input ng-model="dashboard.name" class="form-control" type="text" name="name">

        <label  class="control-label">Description</label>
        <input ng-model="dashboard.description" class="form-control" type="text" name="description">

        <br>
        <button ng-click="salvar()" class="btn btn-success" type="button">Salvar</button>
        <button ng-click="cancelar()" class="btn btn-link" type="button">Cancelar</button>
      </form>
    </div>
  </div>
</div>