<div class="row">
  <div class="col-md-12">
    <div id="query-area">

      <h2 ng-hide="showResults">Console</h2>
      <h2 ng-show="showResults">Resultados <small>{{ results.records }} registros</small></h2>

      <!-- <div class="pull-right">
        <a href="#" ng-click="fetchTables()">Fetch Tables</a>
      </div> -->

      <z-errorbox ng-model="errors"></z-errorbox>

      <div class="well">
        <form ng-submit="executeQuery()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">SQL</label>
                <textarea autofocus="true"class="form-control" rows="4" id="statement">{{ statement.sql }}</textarea>
              </div>
            </div>

            <div class="col-md-12">
              <p style="margin-bottom: 20px;">
                <a href="javascript:;" ng-click="showAdvancedOptions=!showAdvancedOptions;">
                  Avançado <span class="caret" ng-class="showAdvancedOptions ? 'caret-reversed' : ''"></span>
                </a>
              </p>
            </div>

            <div class="col-md-12" ng-show="showAdvancedOptions">
              <div class="form-group">
                <label class="control-label">Parâmetros</label>
                <table class="table table-bordered table-striped table-editable">
                  <thead>
                    <tr>
                      <th class="col-md-3">Nome</th>
                      <th class="col-md-2">Tipo</th>
                      <th class="col-md-05 text-center">&fnof;<sub>(x)</sub></th>
                      <th class="col-md-5">Valor</th>
                      <th class="col-md-05"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="(key, param) in statement.parameters track by $index">
                      <td>
                        <input class="form-control" type="text" ng-model="param.name">
                      </td>
                      <td>
                        <select ng-model="param.type" class="form-control" ng-options="data for data in data_types track by data"></select>
                      </td>
                      <td class="text-center">
                        <div class="z-checkbox">
                          <z-checkbox ng-model="param.evaluated"></z-checkbox>
                        </div>
                      </td>
                      <td>
                        <input class="form-control" type="text" ng-model="param.value">
                      </td>
                      <td class="text-center">
                        <a href="#" ng-click="deleteParam(key)" class="btn-remove"><i class="fa fa-close"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button class="btn btn-info " type="button" ng-click="addParam()">Adicionar parâmetro</button>
              </div>
              <div class="form-group">
                <label class="control-label">Limite</label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <z-checkbox ng-model="hasLimit"></z-checkbox>
                  </div>
                  <input type="text" class="form-control" ng-model="statement.limit" ng-disabled="hasLimit" integer />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div>
                <button class="btn btn-success btn-block" type="submit" ng-disabled="isExecuting" ng-show="!showResults">Executar SQL</button>
                <button class="btn btn-default btn-block" type="button" ng-click="showResults=!showResults" ng-show="showResults">Editar SQL</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- RESULTADOS -->
    <div class="row" ng-show="showResults">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th nowrap ng-repeat="column in results.columns">{{ column.name }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in results.rows">
                  <td nowrap ng-repeat="column in row track by $index">{{ column }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-block" ng-click="executeQuery(currentPage)" ng-disabled="isExecuting">Ver mais</button>
      </div>
    </div>

    <!-- HISTÓRICO -->
    <div class="row" data-type="history" ng-hide="showResults">
      <div class="col-md-12 historico">
        <div class="list-group striped">

          <a ng-repeat="row in historyItems | orderBy:'created_at':true" href="#" class="list-group-item" data-id="{{ row.id }}" ng-click="loadHistoryItem(row)">
            <p class="list-group-item-text">
              <span class="close-history-item" ng-click="delete(row.id)">
                <span class="fa fa-close"></span>
              </span>
              <span class="label" ng-class="getStyleType(row.type)">
                {{row.type }}
              </span>
              {{ row.statement.sql }}
            </p>
            <h6 class="list-group-item-heading" style="font-weight:bold; color:#2c3e50; padding-top:10px;">
              {{ row.created_at | fromNow }}
            </h6>
          </a>

        </div>
      </div>
    </div>

  </div>
</div>