  <div class="container">

    <div class="header-area">
      <div class="row">
        <div class="col-sm-5 col-md-6">
          <h2>
            Dashboard
          </h2>
        </div>
        <div class="col-sm-4 col-md-4 col-offset-md-1">
          <select class="form-control"
            ng-model="activeDataSourceServer"
            ng-options="source.id as source.name for source in dashboard.data_source_servers"
            ng-change="setActiveDataSourceServer()">
          </select>
        </div>
        <div class="col-sm-3 col-md-2">
          <button class="btn btn-block btn-primary" ng-click="loadWidgets()">
            <span class="fa fa-refresh"></span>
            Atualizar
          </button>
        </div>
      </div>
    </div>

    <!-- Inicio Daterangepicker -->
    <div class="row">
      <div class="col-sm-12">

        <div class="toolbar">
          <button id="reportrange" class="btn btn-primary btn-block">
            <span class="fa fa-calendar"></span>
            <span class="text" data-behaivor="show-actual-date">Últimos 30 dias</span>
          </button>
        </div>

      </div>
    </div>
    <!-- Fim Daterangepicker -->


    <div class="row">
      <div class="area indicadores-container" data-behaivor="widgets-container">
        <div ng-repeat="widget in dashboard.widgets">
          <z-widget-status ng-if="widget.widget_type.name=='status'"></z-widget-status>
          <z-widget-line   ng-if="widget.widget_type.name=='line'"></z-widget-line>
          <z-widget-pie    ng-if="widget.widget_type.name=='pie'"></z-widget-pie>
        </div>
      </div>
    </div>


  </div>


<!-- <pre><code>{{ sourceList | json }}</code></pre> -->
<!-- <pre><code>{{ dashboard.widgets | json }}</code></pre> -->