<div class="header-area">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Indicator <small></small>
      </h1>
    </div>
  </div>
</div>

<ul class="breadcrumb">
  <li><a href="#">Atlas</a></li>
  <li><a href="#">Indicator</a></li>
  <li class="active">new</li>
</ul>

<div class="row">
  <div class="col-md-12 col-lg-6">
    <form id="formCadastro" class="form-horizontal">
      <div class="well">
        <label class="control-label">Name</label>
        <input ng-model="indicator.name" class="form-control" type="text" name="name">

        <label class="control-label">Description</label>
        <input ng-model="indicator.description" class="form-control" type="text" name="description">

        <label class="control-label">Unity</label>
        <select ng-model="indicator.unity" class="form-control">
          <option value=""></option>
          <option value="R$">R$</option>
          <option value="%">%</option>
        </select>

        <label class="control-label">Query Type</label>
        <select ng-model="indicator.query.type" class="form-control">
          <option value="SingleValueQuery">Single Value Query</option>
          <option value="ResultQuery">Result Query</option>
        </select>

        <label class="control-label">Query</label>
        <textarea ng-model="indicator.query.statement" class="form-control" name="query"></textarea>
        <input ng-model="indicator.type" type="hidden" name="type" value="SingleResultQuery">

        <label class="control-label">Parameters</label>
        <table class="table table-bordered table-striped table-editable">
          <thead>
            <tr>
              <th class="col-md-4">Nome</th>
              <th class="col-md-4">Tipo</th>
              <th class="col-md-4">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, param) in indicator.query.parameters">
              <td>
                <input class="form-control" type="text" ng-model="param.name">
              </td>
              <td>
                <select ng-model="param.data_type" class="form-control" ng-options="data for data in data_types"></select>
              </td>
              <td>
                <input class="form-control" type="text" ng-model="param.default_value">
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-block btn-info" ng-click="addParam()">Add Param</button>

        <br>
        <button ng-click="salvar()" class="btn btn-success" type="button">Salvar</button>
        <button ng-click="cancelar()" class="btn btn-link" type="button">Cancelar</button>

      </div>
    </form>
  </div>

  <div class="col-md-12 col-lg-6">
    <div class="list-group striped" data-behaivor="history-list">
      <div ng-repeat="indicator in indicatorList" href="javascript:;" class="list-group-item" ng-click="loadIndicator(indicator)">
        <p class="list-group-item-text">
          <span class="close-history-item" ng-click="delete(indicator.id)">
            <span class="fa fa-close"></span>
          </span>
          <strong>{{ indicator.name }}</strong>
        </p>

        <p class="list-group-item-text">{{ indicator.description }}</p>
        <p class="list-group-item-text"><small>
          <a href="">{{ indicator.url }}</a>
        </small></p>

      </div>
    </div>
  </div>
</div>