<div class="header-area">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        User <small></small>
      </h1>
    </div>
  </div>
</div>

<ul class="breadcrumb">
  <li><a href="#">Atlas</a></li>
  <li><a href="#">User</a></li>
  <li class="active">new</li>
</ul>

<div class="row">
  <div class="col-md-12 col-lg-6">
    <div class="well">

      <form id="formCadastro" class="form-horizontal">
        <label class="control-label">Email</label>
        <input ng-model="user.email" class="form-control" type="text" name="email">

        <label class="control-label">Username</label>
        <input ng-model="user.username" class="form-control" type="text" name="username">

        <label class="control-label">Password</label>
        <input ng-model="user.password" class="form-control" type="password" name="password">

        <br>
        <button ng-click="salvar()" class="btn btn-success" type="button">Salvar</button>
        <button ng-click="cancelar()" class="btn btn-link" type="button">Cancelar</button>
      </form>

    </div>
  </div>

  <div class="col-md-12 col-lg-6">
    <div class="list-group striped" data-behaivor="history-list">
      <div ng-repeat="user in userList" href="javascript:;" class="list-group-item" ng-click="loadUser(user)">
        <p class="list-group-item-text">
          <span class="close-history-item" ng-click="deleteuser(user.id)">
            <span class="fa fa-close"></span>
          </span>
          <strong>{{ user.username }}</strong>
        </p>

        <p class="list-group-item-text">
          <strong>Email: </strong>  {{ user.email }}
        </p>

      </div>
    </div>
  </div>
</div>