<div class="panel panel-info">
    <div class="panel-heading">
      <strong>#{{ $index }}</strong>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <select
              class="form-control"
              ng-model="execution.function_id"
              ng-options="fn.id as fn.name for (key, fn) in functionList"
              ng-change="addParamsToExecution(execution)"
              >
              <option value="">Selecione</option>
              </select>

          </div>

          <table class="table table-bordered table-striped table-editable">
            <thead>
              <tr>
                <th class="col-md-6">Nome</th>
                <th class="col-md-6">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="param in execution.parameters">
                <td>
                  <span class="form-control">{{::param.name}}</span>
                </td>
                <td>
                  <input class="form-control" type="text" ng-model="param.value">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-info" ng-click="move($index, 'up')" ng-disabled="$index===0">
          <span class="fa fa-arrow-up"></span>
        </a>

        <a href="#" class="btn btn-info" ng-click="deleteExecution($index)">
          <span class="fa fa-close"></span>
        </a>

        <a href="#" class="btn btn-info" ng-click="move($index, 'down')"  ng-disabled="$index===(aggregation.executions).length-1">
          <span class="fa fa-arrow-down"></span>
        </a>
      </div>
    </div>

</div>