<div class="header-area">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Data Source Server
      </h1>
    </div>
  </div>
</div>

<ul class="breadcrumb">
  <li><a href="#">Atlas</a></li>
  <li><a href="data-source-server">Data Source Server</a></li>
  <li class="active">Novo</li>
</ul>

<div class="row">
  <div class="col-md-12 col-lg-6">
    <div class="well">
      <form id="formCadastro" class="form-horizontal" ng-submit="saveApiServer()">
        <label class="control-label">Name</label>
        <input ng-model="data_source_server.name" class="form-control" type="text" name="name">

        <label class="control-label">Description</label>
        <input ng-model="data_source_server.description" class="form-control" type="text" name="description">

        <label class="control-label">URL</label>
        <input ng-model="data_source_server.url" class="form-control" type="text" name="url" placeholder="http://127.0.0.1/api/v1/">

        <br>
        <button ng-click="saveApiServer()" class="btn btn-success" type="button">Salvar</button>
        <button ng-click="cancelarApiServer()" class="btn btn-link" type="button">Cancelar</button>

      </form>
    </div>
  </div>

</div>