<div class="header-area">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Servidor de fonte de dados
      </h1>
    </div>
  </div>
</div>

<ul class="breadcrumb">
  <li><a href="#">Atlas</a></li>
  <li><a href="data-source-server">Servidor de fonte de dados</a></li>
  <li class="active">Novo</li>
</ul>

<form class="form-horizontal" ng-submit="saveApiServer()">

  <div class="row">
    <div class="col-md-12">
      <div class="well">

          <label class="control-label">Nome</label>
          <input ng-model="data_source_server.name" class="form-control" type="text" name="name">

          <label class="control-label">Descrição</label>
          <input ng-model="data_source_server.description" class="form-control" type="text" name="description">

          <label class="control-label">URL</label>
          <input ng-model="data_source_server.url" class="form-control" type="text" name="url" placeholder="http://127.0.0.1/api/">

      </div>
    </div>
  </div>

  <!-- AÇÕES FORMULÁRIO -->
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <a href="data-source-server" class="btn btn-link">Voltar</a>
        <button ng-click="saveApiServer()" type="submit" class="btn btn-success">Salvar servidor</button>
      </div>
    </div>
  </div>
  <!-- / AÇÕES FORMULÁRIO -->

</form>