<ul class="color-list">
  <li ng-repeat="(color, hex) in colors" title="{{ ::color }} - {{::hex}}">
    <label for="chck-{{color}}">
      <input
        type="checkbox"
        value="{{color}}"
        ng-click="addRemoveColor(color)"
        name="colors[]"
        id="chck-{{color}}"
        ng-checked="!!arrColors[color]"
      >
      <span class="label label-{{::color}}">
        <font ng-show="!!arrColors[color]">{{arrColors[color]}}</font>
        <font ng-hide="!!arrColors[color]">&nbsp;</font>
      </span>
    </label>
  </li>
</ul>