<div class="col-xs-12 col-md-{{ widget.size }}"
  data-behaivor="widget"
  data-type="{{ widget.widget_type.name }}"
  data-id="{{ widget.id }}"
  data-position="{{ widget.position }}">
  <div class="widget">

    <div class="loader" data-behaivor="loader" ng-show="widget.loading">
      <svg class="spinner-container" width="65px" height="65px" viewBox="0 0 52 52">
        <circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px"></circle>
      </svg>
    </div>

    <div class="content"></div>

    <p ng-show="!widget.hasData" class="no-data text-center">
      Não há informações <br>
      para o período
    </p>
  </div>
</div>