<div class="col-sm-6 col-xs-12 col-md-{{ widget.size }}"
  data-behaivor="widget"
  data-type="{{ widget.widget_type.name }}"
  data-id="{{ widget.id }}"
  data-position="{{ widget.position }}">
  <div class="widget {{ widget.color }}" tooltip="{{ widget.full_result }}" tooltip-placement="bottom">


    <div class="loader loader-inverse" data-behaivor="loader" ng-show="widget.loading">
      <svg class="spinner-container" width="65px" height="65px" viewBox="0 0 52 52">
        <circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px"></circle>
      </svg>
    </div>

    <div class="content">
      <h4 class="title">
        {{ widget.name }}

        <small>
          <button
            class="pull-right"
            popover-placement="top"
            popover-trigger="focus"
            popover-title="{{ widget.name }}"
            popover="{{ widget.description }}">
            <i class="glyphicon glyphicon-question-sign"></i>
          </button>
        </small>
      </h4>

      <div class="info" ng-if="widget.indicator.unity.symbol=='R$'">
        <span class="unidade"> {{ widget.indicator.unity.symbol }} </span>
        <span class="valor">{{ widget.result | limitTo:4 }}</span>
        <span class="grandeza">{{ widget.grandeza }}</span>
      </div>

      <div class="info" ng-if="widget.indicator.unity.symbol=='%'">
        <span class="valor">{{ widget.result | limitTo:4 }}</span>
        <span class="grandeza">{{ widget.grandeza }}</span>
        <span class="unidade"> {{ widget.indicator.unity.symbol }} </span>
      </div>

      <div class="info" ng-if="widget.indicator.unity_id===null">
        <span class="unidade"></span>
        <span class="valor">{{ widget.result | limitTo:4 }}</span>
        <span class="grandeza">{{ widget.grandeza }}</span>
      </div>
    </div>

  </div>
</div>