<div class="widget {{ widget.color }}" tooltip="{{ widget.full_result }}" tooltip-placement="bottom">

  <z-loader inverse="true" ng-show="widget.loading"></z-loader>

  <div class="content">
    <h4 class="title">
      {{ widget.name }}

      <small>
        <button
          class="pull-right"
          popover-placement="top"
          popover-trigger="focus"
          popover-title="{{ widget.name }}"
          popover="{{ widget.description }}">
          <i class="glyphicon glyphicon-question-sign"></i>
        </button>
      </small>
    </h4>

    <h2 class="info" ng-if="widget.indicator.unity.symbol=='R$'">
      <span class="grandeza">{{ widget.indicator.unity.symbol }} </span>
      <span class="valor">{{ widget.result | limitTo:4 }}</span>
      <span class="grandeza">{{ widget.grandeza }}</span>
    </h2>

    <div class="info" ng-if="widget.indicator.unity.symbol=='%'">
      <span class="valor">{{ widget.result | limitTo:4 }}</span>
      <span class="grandeza">{{ widget.grandeza }} {{ widget.indicator.unity.symbol }}</span>
    </div>

    <div class="info" ng-if="widget.indicator.unity_id===null">
      <span class="valor">{{ widget.result | limitTo:4 }}</span>
      <span class="grandeza">{{ widget.grandeza }}</span>
    </div>
  </div>
</div>

{{ widget }}